<div class="container">
    <h3>{{ post.title }}</h3>

    <small>{{ post.date | date }}</small>

    <small>{{ post.author}}</small>

    <div class="buttons">
        <button [routerLink]="['/post', post.id]">
            View post
        </button>

        <button 
            *ngIf="this.authService.isAuthenticated()" 
            [routerLink]="['/admin' ,'post', post.id, 'edit']">
            Edit post
        </button>
        
        <button 
            *ngIf="this.authService.isAuthenticated()" 
            (click)='remove()'>
            Delete post
        </button>
    </div>
</div>