
<div class="container">
    <h2>Welcome to Angular Blog!</h2>

    <img src="assets/commission_sexy_velma_by_acpuig_da18toc-fullview.jpg" alt="sexy girl" >

    <span class="buttons">
        <button routerLink="posts-list">Go to Posts</button>
        <button routerLink="admin/login">Login</button>
    </span>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur repellendus ullam quaerat sint incidunt necessitatibus? Quis quidem nesciunt mollitia ex magnam possimus, corporis est nemo aliquam fuga ratione soluta adipisci numquam eligendi, odio id ducimus cupiditate, iste perferendis molestiae explicabo assumenda laudantium eos! At, numquam ad ipsa delectus eveniet alias ut quam eius nemo repellat a sed facere corrupti deleniti quis soluta est. Velit incidunt dicta voluptate. Corporis doloribus blanditiis nesciunt, sapiente, minima optio laboriosam reiciendis non exercitationem maxime libero sint pariatur iste soluta. Quam ullam officiis saepe minus culpa aspernatur molestias numquam fugit deleniti nemo earum dignissimos, qui recusandae?</p>
</div>