

<div 
class="container" 
*ngIf="post || formType === pageFormTypes.CREATE; else loader">
    
    <form [formGroup]="form" (submit)="submit()">
        <h2 class="title">
            {{ formType === pageFormTypes.CREATE ? 'Create' : 'Update' }}
        </h2>

        <div class="form-control">
            <label for="post-title">
                Post title:
            </label>
            <input 
            type="text" 
            id='post-title' 
            formControlName='title'
            />
        </div> 
        
        <div class="form-control">
            <label for="post-author">
                Post author:
            </label>
            <input 
            type="text" 
            id='post-author' 
            formControlName='author'
            />
        </div>
        
        <div class="form-control">
            <label for="post-text">
                Post text:
            </label>
            <input 
            type="text" 
            id='post-text' 
            formControlName='text'
            />
        </div>

        <button type="submit">
            {{ formType === pageFormTypes.CREATE ? 'Create' : 'Update' }}
        </button>

    </form>
</div>

<ng-template #loader>
    <div class="loader">
    </div>
</ng-template>