<div class="header">
    
    <h1 class="title" routerLink="">Angular Blog admin</h1>
    
    <div class="topnav">
        <a [routerLink]="['/admin','login']">Login</a>
        <a href="#" (click)="logout($event)">Logout</a>
        <a routerLink="posts-list">Posts</a>
        <a [routerLink]="['/admin','create']">Create</a>
    </div>


</div>

<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="footer">
     
    <div class="lownav">
        <a routerLink="admin/login">Login</a>
        <a routerLink="posts-list">Posts</a>
    </div>

</div>
